@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=Abel);

html {
	background: #3f3f3f;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #262626;
	overflow: scroll;
}
body {
	margin: 0 auto auto;
}

a {
	color: #ffaa00;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.noclick {
	pointer-events: none;
}

#anchor {
	height: 100%;
}
#wrapper {
	margin: auto;
	width: 100%;
}

#slide {
	box-sizing: border-box;
	position: absolute;
	margin: auto;
	left: 0; right: 0;
	padding: 1em;
	width: 320px;
	font-family: 'Droid Sans Mono';
	color: #FFFFFF;
	/*background-color: #000000;*/
}

#page {
	/*position: relative;*/
	min-height: 50%;
}

h1, h2, h3, h4 {
	margin: 0;
	font-family: 'Abel';
}

img.preview, img {
	width: 100%;
}