@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Norican);
* {
  box-sizing: border-box;
}
div#react-shift-wrapper {
  color: #ffffff;
  font: 18px 'Droid Sans Mono', Helvetica;
}
div#react-shift-wrapper div#react-shift-page {
  position: absolute;
  margin: 60px auto 40px auto;
  right: 0;
  left: 0;
  width: 320px;
}
div#react-shift-wrapper nav#react-shift-navigation {
  position: fixed;
  padding: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 40px;
  vertical-align: top;
  text-align: center;
  font: 22px 'Abel', sans-serif;
  background: #191919;
  border-top: 1px solid #ffaa00;
}
div#react-shift-wrapper span#react-shift-page-numbers a {
  font: 22px 'Norican', Arial;
  transition: all 0.5s;
}
div#react-shift-wrapper span#react-shift-page-numbers a:hover {
  font: 24px 'Norican', Arial;
}
div#react-shift-wrapper span#react-shift-page-numbers a#react-shift-current-page {
  font: 28px 'Norican', Arial;
  text-decoration: underline;
}
div#react-shift-wrapper a#react-shift-next-page,
div#react-shift-wrapper a#react-shift-previous-page {
  position: fixed;
  bottom: -10px;
  font: 22px 'Droid Sans Mono', Helvetica;
}
div#react-shift-wrapper a#react-shift-next-page:active,
div#react-shift-wrapper a#react-shift-previous-page:active {
  font: 56px 'Droid Sans Mono', Helvetica;
}
div#react-shift-wrapper a#react-shift-next-page {
  right: 70px;
}
div#react-shift-wrapper a#react-shift-previous-page {
  left: 70px;
}
div#react-shift-wrapper a#react-shift-next-page,
div#react-shift-wrapper a#react-shift-previous-page {
  display: inline-block;
  font: 60px 'Droid Sans Mono', Helvetica;
}
div#react-shift-wrapper div.react-shift-nav-arrow {
  z-index: 100;
  display: inline-block;
  width: 20px;
  font: 18px 'Droid Sans Mono', Helvetica;
}
div#react-shift-wrapper div#react-shift-fast-links {
  padding: 8px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  font: 30px 'Abel', sans-serif;
  background: #191919;
  border-bottom: 1px solid #ffaa00;
}
div#react-shift-wrapper a.react-shift-fast-link {
  margin: 0 10px 0 10px;
}
div#react-shift-page {
  margin: 0;
}
@media only screen and (min-width: 1000px) and (min-height: 825px) {
  div#react-shift-wrapper div#react-shift-page {
    width: 620px;
  }
  div#react-shift-wrapper a#react-shift-next-page,
  div#react-shift-wrapper a#react-shift-previous-page {
    position: fixed;
    top: 100px;
    font: 180px 'Droid Sans Mono', Helvetica;
  }
  div#react-shift-wrapper a#react-shift-next-page {
    right: 80px;
  }
  div#react-shift-wrapper a#react-shift-previous-page {
    left: 80px;
  }
  div#react-shift-wrapper a#react-shift-next-page:active,
  div#react-shift-wrapper a#react-shift-previous-page:active {
    font: 170px 'Droid Sans Mono', Helvetica;
  }
}
