nav {
	text-align: center;
}
.nav-arrow {
	margin: 0 .25em .25em;
	outline: none;
	font-family: 'Droid Sans Mono';
	font-size: 6em;
}
.nav-arrow:hover {
	text-decoration: none;
	color: #ffbf00;
}
.fast-nav {
	font-family: 'Abel', sans-serif;
	font-size: 1.5em;
}
.fast-nav > a, .diamond {
	margin: .25em;
	color: #ffbf00;
}

footer {
	position: fixed;
	bottom: 0; left: 0; right: 0;
}