.slide-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
  transition: all .5s ease .2s;
}
.slide-enter.slide-enter-active {
  opacity: 1;
}
.slide-leave {
  opacity: 1;
  transform: translate3d(0,300px,0);
  transition: all .5s ease .2s;
}
.slide-leave.slide-leave-active {
  opacity: 0.01;
}