.slide-enter {
  position: absolute;
  opacity: 0.01;
  width: 320px;
  transition: all .25s;
}
.slide-enter.slide-enter-active {
  position: absolute;
  opacity: 1;
}
.slide-leave {
  position: absolute;
  opacity: 1;
  width: 320px;
}
.slide-leave.slide-leave-active {
  position: absolute;
  opacity: 0.5;
  transition: all .25s;
}