* {
	font-family: Helvetica;
}
html {
	background: #007fbf;
	background-image: url('../images/background.png');
	overflow-y: scroll;
	min-height: 100%
}
body {
	margin: 0;
}
header {
	margin: 0 auto auto;
	padding: 16px;
	text-align: center;
}
footer, a.repo-link {
	margin: 20px;
	color: #FFFFFF;
	font-weight: bolder;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}
a.repo-link:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.wrapper {
	margin: 20px auto 10px;
	padding: 10px 20px 10px 20px;
	max-width: 960px;
	background-color: #F8F8FF;
	border-radius: 10px;
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
}
.links {
	margin: 0 auto auto;
	text-align: center;
}
#link-info {
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	min-height: 22px;
	color: #007fbf;
	text-align: center;
	font-weight: bolder;
	font-size: 18px;
}

hr {
	border: 1px solid #003459;
}

a, h1, h2, h3, h4, h5 {
	margin: 0;
	color: #121420;
	text-shadow: 1px 1px 0px rgba(200, 200, 200, 1);
	text-decoration: none;
}
a:hover {
	color: #007fbf;
	text-decoration: underline;
}
h3, h5 {
	display: inline;
}
h5 {
	font-weight: normal;
}
p {
	margin: 6px 18px 6px 18px;
	text-indent: 15px;
	color: #121420;
	font-size: 18px;
}
.date {
	float: right;
}
li {
	list-style-type: square;
}

.me {
	display: inline;
	width: 170px;
	/*border: 3px solid #2f3a3f;*/
	border-radius: 500px;
	box-shadow: 1px 1px 2px #bfbfbf;
}
.icon {
	margin: 5px 2px 5px 2px;
	height: 50px;

}
.preview-image {
	margin: 6px 20px 6px 20px;
	border-radius: 20px;
	border: 1px solid #A6A6A8;
	box-shadow: 2px 2px 0px #3f3f3f;
}
#projects, #experiences {
	margin: auto;
	padding: 0;
	max-width: 890px;
}
.project {
	vertical-align: top;
	display: inline-block;
	text-align: center;
}
.project-description {
	width: 402px;
	text-align: left;
}